@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f7f7f7;
}

.botSelectContainer {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  width: 500px;
  gap: 60px;
}

.botSelector {
  padding: 15px 32px;
}

.icon {
  background: none;
	color: inherit;
	border: hidden;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: 120px;
  height: 140px;
}

.icon:hover {
  border: solid;
  border-width: medium;
}

.icon:active {
	padding-top:11px;
}

.breadHat {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
  background: #fff;
  border-width: 4px;
  border-style: solid;
  border-radius: 50% 50% 0 0;
  border-bottom: none;
  box-shadow: 2px -4px #c68958;
}

.breadHat:before,
.breadHat:after {
  content: '';
  position: absolute;
  bottom: -4px;
  background: inherit;
  border-width: 4px;
  border-style: solid;
}

.breadHat:before {
  left: 80%;
  width: 80%;
  height: 80%;
  border-left: none;
  border-bottom: none;
  border-radius: 50% 50% 50% 0;
  box-shadow: 3px -4px #c68958;
}

.breadHat:after {
  right: 80%;
  width: 80%;
  height: 80%;
  border-right: none;
  border-bottom: none;
  border-radius: 50% 50% 0;
  box-shadow: 0px -4px #c68958;
}

.breadEye {
  height: 12px;
  width: 12px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.breadLeftEye {
  left: 0;
}

.breadRightEye {
  right: 0;
}

.breadBody {
  height: 50px;
  width: 80px;
  margin: auto;
  border-width: 4px;
  border-style: solid;
  border-radius: 0 0 15% 15%;
  border-top: none;
  background: #fff;
  box-shadow: 3px -4px #c68958;
  position: relative;
  z-index: -1;
}

.breadSmile {
  position: absolute;
  display: inline-block;
  top: 20%;
  left: 30%;
  width: 40%;
  height: 13px;
  border-radius: 7px 7px 100px 100px;
  background-color: black;
}

.frogImage {
  background-image: url('../assets/picklesIcon.png');
  background-size: cover;
  width: 80px;
  height: 100px;
  padding-top: 100px;
  margin: auto;
}

.chatBot {
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
  width: 500px;
  overflow-y: clip;
  height: 600px;
  background: rgb(255, 255, 255);
  background-size: contain;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: center;
}

.pingChat {
  border: 3px solid #c68958;
}

.frodChat {
  border: 3px solid #bdd578;
}

header {
  background-color: #2F8D46;
  text-align: center;
  padding: 10px 0;
  border-radius: 7px 7px 0 0;
}

.pingHeader {
  background: #c68958;
}

.frodHeader {
  background: #bdd578;
}

header h2 {
  color: #fff;
  margin: 0;
}

.chatbox {
  padding: 15px;
  list-style: none;
  overflow-y: auto;
  height: 400px;
}

.chatbox li {
  margin-bottom: 10px;
}

.chat p {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.chat-outgoing p {
  background-color: #162887;
  align-self: flex-end;
  color: #fff;
  text-align: right;
  margin-left: auto;
  width: fit-content;
}

.chat-incoming p {
  background-color: #eaeaea;
  width: fit-content;
}

.chat-input {
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-input textarea {
  width: 522px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  resize: none;
  outline: none;
  overflow-y: scroll;
  background-color: #dcdcdc85;
  font-size: 16px;
  color: green;
  font-weight: 600;
  margin-top: -10px;
  margin-left: -15px;
  height: 71px;
}

#cross {
  float: right;
  position: relative;
  top: -38px;
  left: -15px;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-size: 28px;
}

#cross:hover {
  color: red;
  transition: all .5s;
}

.chatbox .chat p.error {
  color: #ffffff;
  background-color: #ff3737e8;
}

#sendBTN {
  width: 100%;
  padding: 8px;
  border: 0;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  margin-top: 12px;
}

.lastMessage {
  margin-top: 50px;
  font-size: 35px;
  font-weight: 600;
  color: darkgreen;
  margin-left: 550px;
}

.hidden {
  display: none;
}